.t-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
.t-button:hover {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}
.t-button--primary {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}
.t-button--primary:hover {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}
.t-button--text {
  border-color: transparent;
  color: #409eff;
  background: transparent;
  padding-left: 0;
  padding-right: 0;
}
.t-button--text:hover {
  color: #66b1ff;
  border-color: transparent;
  background-color: transparent;
}
.t-button--primary.is-plain {
  color: #409eff;
  background: #ecf5ff;
  border-color: #b3d8ff;
}
.t-button--primary.is-plain:hover {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}
.is-round {
  border-radius: 20px;
}
.t-button.is-disabled {
  color: #c0c4cc;
  cursor: not-allowed;
  background-image: none;
  background-color: #fff;
  border-color: #ebeef5;
}
.t-button--primary.is-disabled,
.t-button--primary.is-disabled:active,
.t-button--primary.is-disabled:focus,
.t-button--primary.is-disabled:hover {
  color: #fff;
  background-color: #a0cfff;
  border-color: #a0cfff;
}
.t-button--primary.is-disabled.is-plain,
.t-button--primary.is-disabled.is-plain:active,
.t-button--primary.is-disabled.is-plain:focus,
.t-button--primary.is-disabled.is-plain:hover {
  color: #8cc5ff;
  background-color: #ecf5ff;
  border-color: #d9ecff;
}
.t-button--medium {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
}
.t-button--small {
  padding: 9px 15px;
  font-size: 12px;
  border-radius: 3px;
}
.t-button--mini {
  padding: 7px 15px;
  font-size: 12px;
  border-radius: 3px;
}
